
<div class="container">
    <h2 style="text-align:center; color:black; margin-top: 4%; font-weight: bold;">Please Insert a number and we will calculate the prime numbers for it</h2>
    
    <form [formGroup]="inputForm" style="margin-top: 2%; margin-left: 6%;" class="row g-3">
      <div class="col-auto">
        <strong >Enter Your Number</strong>
      </div>
      <div class="col-auto">
        <label for="inputNumber" class="visually-hidden">Input Number</label>
        <input type="number" formControlName="inputNumber" class="form-control" id="inputNumber" placeholder="inputNumber">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" (click)="calculatePrimes()" [disabled]="inputForm.invalid" >Get Primes</button>
      </div>

    </form>

    <div style="margin-left: 7%; word-break: break-all;" class="col-auto">
      <strong>The prime number are :-</strong>
      <strong *ngIf="isGreaterThanOne === true">{{primeNumbers}}</strong>
      <strong *ngIf="isGreaterThanOne === false">One is not a Prime number</strong>
    </div>

</div>